*.md
etc/kb
*/*.py~
*.py~
examples/*
etc/*
scripts/*
etc/models
etc/examples/*
*docker_cache*
analysis/
notes/
notebooks/
_runs/
etc/datasets/*
etc/data
_runs/*
cache_dir/*
*artifacts*
wandb/
lightning_logs/